{% extends 'base.html' %}

{% block title %}ΑΡΧΙΚΗ{% endblock %}

{% block style %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
<!--	<body style"position: relative; min-height:100%; top: 0px;">	-->
<div class="w3-container top" style="color: white; font-size: 100px;"></div>

<head style="marging-top: 100px;"></head>
<div class="topnav">
	<a href="{{ url_for('transmanager.index') }}">ΑΡΧΙΚΗ</a>
	<a href="{{ url_for('transmanager.problemsolving') }}">ΕΠΙΛΥΣΗ ΠΡΟΒΛΗΜΑΤΩΝ</a>
	<a href="{{ url_for('quiz.quiz') }}">QUIZ</a>
	<a href="{{ url_for('help.help') }}">ΒΟΗΘΕΙΑ</a>
	<a href="{{ url_for('profile.profile') }}">ΠΡΟΦΙΛ</a>
</div>
<div class="main">

	<div class="row" style="margin-top: 5%; height: 40%;">
		<div style="width: 33%; background-color:;">
			<p>asddd</p>
			<p>γραφω κατι σημνατικο <br> εδω περα</p>
			<p>asddd</p>
			<p>asddd</p>
		</div>
		<div style="width: 33%;">
			<p>asddd</p>
			<p>γραφω κατι σημνατικο <br> εδω περα</p>
			<p>asddd</p>
			<p>asddd</p>
		</div>
		<div style="width: 33%;">
			<p>asddd</p>
			<p>γραφω κατι σημνατικο <br> εδω περα</p>
			<p>asddd</p>
			<p>asddd</p>
		</div>
	</div>

	<p style="padding-left: 25%; font-size: 30px;">Leaderboards</p>
	<div class="boxrow" style="margin-top: 10px; height: 20px;">
		<div class="column" style="width: 10%;">ID</div>
		<div class="column">Όνομα</div>
		<div class="column">Ελεγχος</div>
		<div class="column" style="">Επαναφορα</div>
	</div>


	<div class="boxrow" style="height: 24px">
		<div class="boxcolumn" style="width: 10%;">1</div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
	</div>

	<div class="boxrow" style="height: 24px;">
		<div class="boxcolumn" style="width: 10%">2</div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
	</div>

	<div class="boxrow" style="height: 24px;">
		<div class="boxcolumn" style="width: 10%">3</div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
	</div>

	<div class="boxrow" style="height: 24px;">
		<div class="boxcolumn" style="width: 10%">4</div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
	</div>

	<div class="boxrow" style="height: 24px;">
		<div class="boxcolumn" style="width: 10%">5</div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
	</div>

	<div class="boxrow" style="height: 24px;">
		<div class="boxcolumn" style="width: 10%">2</div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
	</div>

	<div class="boxrow" style="height: 24px;">
		<div class="boxcolumn" style="width: 10%">6</div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
	</div>

	<div class="boxrow" style="height: 24px;">
		<div class="boxcolumn" style="width: 10%">7</div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
	</div>

	<div class="boxrow" style="height: 24px;">
		<div class="boxcolumn" style="width: 10%">8</div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
	</div>

	<div class="boxrow" style="height: 24px;">
		<div class="boxcolumn" style="width: 10%">9</div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
		<div class="boxcolumn"></div>
	</div>

</div>
<p style="text-align: center; text-decoration: overline; color:white; height: 50px;">
	Copy Right <i class="fa fa-copyright"></i> 2019
</p>
{% endblock %}