body, html {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 15% 10% 10% 35% 30%;
}

#nav {
    grid-area: 1 / 1 / 1 / 1;
    margin-top: 30px;
    margin-left: 50px;

    font-size: 1.7em;
    cursor: pointer;
}

h1 {
    grid-area: 1 / 2 / 1 / 4;
    place-self: end center;

    margin-bottom: 5px;
    font-size: 1.5em;
}

#hr {
    grid-area: 2 / 2 / 2 / 4;
    justify-self: center;

    height: 2px;
    width: 600px;
    background-color: #1534BE;
}

button {
	padding: 0;
	border: 0;
	cursor: pointer;
}

#login {
    grid-area: 1 / 4 / 1 / 4;
    
    margin-top: 30px;

    height: 35px;
    width: 130px;
    background-color: white;
    border: 1px solid #1534BE;
    border-radius: 30px;

    color: #1534BE;
    letter-spacing: 2px;

    transition: 0.25s ease-in;
}

#login:hover {
    background-color: #1534BE;
    color: white;
}

p {
    grid-area: 3 / 2 / 3 / 4;
    place-self: center;
}

form {
    grid-area: 4 / 2 / 4 / 4;
    place-self: center;
}

table {
    height: 250px;
    width: 850px;

    border-collapse: collapse;

    text-align: center;
}

table th {
    background-color: #1534BE;

    height: 41px;

    color: white;
    font-size: 0.9em;
    font-weight: 100;
}

table td {
    border: 1px solid rgb(210, 210, 210);
}

#clear, #enter {
    align-self: center;

    height: 35px;
    width: 125px;

    border-radius: 8px;
}

#clear {
    grid-area: 5 / 2 / 5 / 3;
    justify-self: end;
    margin-right: 40px;

    border: 1px solid black;
}

#enter {
    grid-area: 5 / 3 / 5 / 4;
    justify-self: start;
    margin-left: 40px;

    background-color: #1534BE;
    color: white;
}

#clear:hover, #enter:hover {
    opacity: 0.9;
}