{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Είσοδος{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="go-back">&#8592; <span>Back</span></div>
    
    <div id="sign-in">
        <form action="#">
            <input class="text" type="text" name="username" placeholder="Όνομα χρήστη" required>
            <input class="text" type="password" name="password" placeholder="Κωδικός πρόσβασης" required>
            <input class="button" type="submit" value="Sign In">		
        </form>
    </div>

    <div id="create-container">
        <a id="create" href="#">Δημιουργία λογαριασμού</a>
    </div>
{% endblock %}
