{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/quiz1.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='js/quiz1.js') }}"></script>
{% endblock %}

{% block header %}
<div id="nav">&#9776;</div>

<h1>{% block title %}QUIZ ΕΛΕΓΧΟΣ ΤΑΥΤΟΧΡΟΝΙΣΜΟΥ{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="hr"></div>

<button>Είσοδος</button>

<p>Παρακαλώ εισάγεται τα στοιχεία</p>

<form id="form-timetable" onsubmit="getResults();return false;">
    <input type="text" name="timetable" placeholder="Π.χ. X2(B) R2(B) X1(A) W2(B) R1(A) X3(C)">
</form>

<p id="results"></p>
{% endblock %}