{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz2.css') }}">
{% endblock %}

{% block header %}
    <div id="nav">&#9776;</div>

    <h1>{% block title %}QUIZ ΕΠΑΝΑΦΟΡΑ ΑΠΟ ΒΛΑΒΗ{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="hr"></div>

    <button id="login">Είσοδος</button>

    <p>Παρακαλώ εισάγεται τα στοιχεία</p>

    <form>
        <table>
            <tr>
              <th>LSN</th>
              <th>PREV_LSN</th> 
              <th>TRANS_ID</th>
              <th>TYPE</th>
              <th>PAGE_ID</th>
              <th>UNDO_NEXT_LSN </th>
            </tr>
            <tr id="first-row">
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>5</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </table>
    </form>

    <button id="clear">Clear</button>
    <button id="enter">Enter</button>
{% endblock %}