{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz1.css') }}">
{% endblock %}

{% block header %}
    <div id="nav">&#9776;</div>

    <h1>{% block title %}QUIZ ΕΛΕΓΧΟΣ ΤΑΥΤΟΧΡΟΝΙΣΜΟΥ{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="hr"></div>

    <button>Είσοδος</button>
    
    <p>Παρακαλώ εισάγεται τα στοιχεία</p>

    <form>
        <input class="text" placeholder="Π.χ. X2(B) R2(B) X1(A) W2(B) R1(A) X3(C)">
    </form>
{% endblock %}