body, html {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 140px auto;
}

#nav {
    grid-area: 1 / 1 / 1 / 1;
    margin-top: 30px;
    margin-left: 50px;

    font-size: 1.7em;
    cursor: pointer;
}

#title {
    grid-area: 1 / 2 / 1 / 2;
    place-self: end center;
}

#title h1 {
    margin-bottom: 5px;
    text-align: center;
    font-siZe: 1.5em;
}

#hr {
    height: 2px;
    width: 300px;
    background-color: #1534BE;
}

#menu {
    grid-area: 2 / 2 / 2 / 2;
    justify-self: center;

    margin-top: 6%;
}

#menu h2 {
    margin-top: 100px;
    text-align: center;
    text-decoration: underline;
    color: #1534BE;
    font-size: 1em;
    cursor: pointer;
}

#menu p {
    display: none;
}