body, html {
    height: 100%;
    margin: 0;
}

span {
    position: absolute;
    top: 50px;
    left: 80px;
    font-size: 2em;
}

h1 {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hr {
    width: 400px;
    height: 2px;
    background-color: #1534BE;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu {
    display: grid;
    place-items: center;
    grid-row-gap: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}